name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: AnshSekhri
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-dark&color_snake=black
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=black
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
